<h1> Benefits <%= @curiosity.description %></h1>

<ul>
  <li> Improves flexibility </li>
  <li> Helps strenghten the musscles </li>
</ul>

<h2> Even more information about <%= @curiosity.name %></h2>

